<section class="section">
    <div class="row" id="table-hover-row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">List Categories</h4>
                    <button onclick="showErrorToast();" class="btn btn--danger">Show error toast</button>
                </div>
                
                <div class="card-content">
                    <!-- table hover -->
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Fullname</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Level</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each users}}
                                <tr>
                                    <td>{{ this._id}}</td>
                                    <td>{{ this.name}}</td>
                                    <td>{{ this.fullname}}</td>
                                    <td>{{ this.email}}</td>
                                    <td>{{ this.gender}}</td>
                                    <td>{{ this.address}}</td>
                                    <td>{{ this.phone}}</td>
                                    <td>{{ this.level}}</td>
                                    <td><a href="/admin/user/{{ this._id}}" class="btn btn-info editbtn">Edit</a>
                                    <button class="btn btn-danger removebtn" data-bs-toggle="modal" data-id="{{ this._id}}" data-bs-target="#delete">Remove</button>
                                    </td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td colspan="7" class="text-center">
                                        No User to show you. 
                                        <a href="/admin/addUser">Add user here</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>