<!-- Featured Product-->
<div id="featured" class="row mt40">
  <div class="container">
    <h1 class="heading1"><span class="maintext">Featured Products</span><span class="subtext"> See Our Most featured Products</span></h1>
    <ul class="thumbnails">
        {{#each products}}
        <li class="col-lg-3  col-sm-6">
          <a class="prdocutname text-truncate" href="/productDetail/{{ this._id}}">{{ this.nameProduct}}</a>
          <div class="thumbnail">
            {{#ifGreater this.priceProduct this.price_newProduct}}
            <span class="sale tooltip-test">Sale</span>
            {{/ifGreater}}
            <a href="/productDetail/{{ this._id}}"><img alt="" {{#each imageProduct.file}}src="/upload/{{ filename}}"{{/each}}></a>
            <div class="shortlinks">
              <a class="details" href="/productDetail/{{ this._id}}">DETAILS</a>
              <a class="wishlist" href="#">WISHLIST</a>
              <a class="compare" href="#">COMPARE</a>
            </div> 
            <div class="pricetag">
              <span class="spiral"></span><div class="productcart">{{#each sizeProduct.size}} {{ size }} {{/each}}</div>
              <div class="price">
                {{#ifEquals this.status 0}}
                <div class="pricenew">{{ this.price}}</div>
                {{else}}
                <div class="pricenew">{{ this.price_newProduct}}</div>
                <div class="priceold">{{ this.priceProduct}}</div>
                {{/ifEquals}}
             </div>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
  </div>
</div>
